@import "../../styles/_variables.scss";

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3.5rem 0;
  padding: 0 1rem;
  @media (min-width: 40rem) {
    padding: 0;
  }
}
