@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$black: #2a2a2a;
$dark-grey: #565656;
$med-grey: #7c7c7c;
$light-grey: #e7e7e7;
$red: #f02f23;
$white: #ffffff;
