@import "styles/_variables.scss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: 3.8rem auto;
  grid-template-areas:
    "header"
    "main";
  height: 100%;
}

main {
  grid-area: main;
  width: 100%;
  @media (min-width: 40rem) {
    width: 35rem;
    margin: auto;
  }
}
